p.lighter {
    font-weight: lighter;}
p.thick {
    font-weight: bold;
    background-color: #808000;}
body {
    background-color: #F5DEB3;}
h1 {
    font-family: cursive;
    color: #7B3F00;}
h2 {
    color: #E1AD01;
    outline: 2px;
    outline-color: #7B3F00;}
h3 {
    color: #E97451;
    opacity: 0.8;}
h4 {
    color: #E1AD01;}
p {
    color: #E97451;}
