p.lighter {
    font-weight: lighter;}
p.thick {
    font-weight: bold;
    background-color: pink;}
body {
    background-color: azure;}
h1 {
    color: #7B3F00;}
h2 {
    color: #E1AD01;
    outline-color: #7B3F00;}
h3 {
    color: #E97451;}
h4 {
    color: #E1AD01;}
p {
    color: grey;}
